body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.span-color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left:2%;
    padding-right: 4%;

}
.half-width img{
    width: 80%;
    padding-top: 5px;
}
.link-button{
    background-image: linear-gradient(tomato,red);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding:10px 40px;
    font-weight: 700px;
}
.top-head{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experiencre-item{
    width: 40%;
    padding-left:10px;
    margin-left: 8%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;

}
#web-dev-experience{
    border-left:7px solid;
    border-image:linear-gradient(purple,tomato);
    border-image-slice: 1;
}
#web-dev{
    border-left:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
